* {
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 50px;
}

.menu-links {
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 25px;
}

.menu-links a {
  text-decoration: none;
}

.books-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-book-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  align-items: flex-start;
  justify-content: center;
}
